.body-2{
    background-color: black;
    color: white;
    background-repeat: no-repeat;

    background-size: 80%;
    z-index: 0;
    background-image: url(./INtenkim/image/Slam_Dunk.jpg);
    overflow: hidden;

}